In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

details_2005 = pd.read_csv("./StormEvents_details-ftp_v1.0_d2005_c20170717.csv")
locations_2005 = pd.read_csv("./StormEvents_locations-ftp_v1.0_d2005_c20170717.csv")

In [2]:
details_2005.columns = [x.lower() for x in list(details_2005.columns)]

In [3]:
locations_2005.columns = [x.lower() for x in list(locations_2005.columns)]

In [4]:
drop_columns = []

for i in details_2005.isna().sum().index:
    if (details_2005.isna().sum() > 40_000)[i]:
        drop_columns.append(i)

In [5]:
details_2005 = details_2005.drop(drop_columns, axis = 1)

In [6]:
details_2005.shape

(53976, 41)

In [7]:
locations_2005.shape

(57267, 11)

In [31]:
merged = pd.merge(locations_2005, details_2005, on = "event_id")
merged.shape

(57267, 51)

In [32]:
def convert_letters(string):
    try:
        if string.find("K") > 0:
            return float(string.replace("K",""))*1_000
        elif string.find("M") > 0:
            return float(string.replace("M",""))*1_000_000
        elif string.find("B") > 0:
            return float(string.replace("B",""))*1_000_000_000
        else:
            return np.nan
    except:
        print (string)

In [62]:
def find_storm(lat, 
               long, 
               dist, 
               merged_dataframe,
               metric = "median"):
    
    merged_df = merged_dataframe.copy()
    
    merged_df_lat_mask_upper = merged_df["latitude"] <= (lat + dist)
    merged_df_lat_mask_lower = merged_df["latitude"] >= (lat - dist)
    merged_df_long_mask_upper = merged_df["longitude"] <= (long + dist)
    merged_df_long_mask_lower = merged_df["longitude"] >= (long - dist)
    
    merged_df["damage_property"] = merged_df["damage_property"].apply(lambda x: convert_letters(x) if type(x) != float else np.nan)
    
    data = merged_df[merged_df_lat_mask_lower & merged_df_lat_mask_upper & merged_df_long_mask_lower & merged_df_long_mask_upper]
    median = data.groupby("event_type").median()[["range","deaths_direct", "damage_property"]]
    median["count"] = data.groupby("event_type").count()["state"].values
    mean = data.groupby("event_type").mean()[["range", "deaths_direct", "damage_property"]]
    mean["count"] = data.groupby("event_type").count()["state"].values
    
    if metric == "mean":
        return mean.sort_values("count", ascending = False)
    else:
        return median.sort_values("count", ascending = False)

In [63]:
df = find_storm(41, -83, 10,merged, metric = "mean")

In [64]:
df

                             range  deaths_direct  damage_property  count
event_type
Thunderstorm Wind         4.151748       0.001129     2.615476e+04   7969
Hail                      4.366586       0.000000     1.408276e+05   5000
Flash Flood               4.272727       0.006595     2.546236e+05   1213
Marine Thunderstorm Wind  9.053691       0.000000     8.392857e+03    997
Tornado                   4.006002       0.074074     1.105998e+06    945
Flood                          NaN       0.003891     7.677411e+05    771
Lightning                 2.923077       0.050000     1.934186e+05     60
Marine Hail               6.739130       0.000000              NaN     44
Funnel Cloud              2.791667       0.000000              NaN     40
Waterspout                6.481481       0.000000              NaN     35
Heavy Rain                2.000000       0.000000     6.625000e+04     13
Strong Wind                    NaN       0.000000     5.000000e+03      2
High Wind                      NaN       0.000000     5.000000e+04      1

# Other Exploration

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon

In [ ]:
us_map = gpd.read_file("./tl_2018_44_state20/tl_2018_44_state20.shp")

In [ ]:
fig, ax = plt.subplots(figsize = (10,10))
us_map.plot(ax = ax)

In [ ]:
def find_nearby(loc,rad,place_types):
    import time
    places_result = gmaps.places_nearby(location = loc,radius=rad, type=place_types,page_token=None)
    df= create_df(places_result)
    after=places_result.get('next_page_token',None)
    time.sleep(3)
    while after !=None:
        
        places_result = gmaps.places_nearby(location = loc,radius=rad, type=place_types,page_token=after)
        df = df.append(create_df(places_result))
        after=places_result.get('next_page_token',None)
        time.sleep(3) # Set a 3 second delay between requests.
    return df

In [ ]:
def create_df(places_result):
    geometry = []
    name = []
    vicinity = []
    types = []

    for place in places_result['results']:
        geometry.append(place['geometry'])
        name.append(place['name'])
        vicinity.append(place['vicinity'])
        types.append(place['types'])
    #Turn lists into a dataframe
    df = pd.DataFrame([geometry,name,vicinity,types])
    df = df.T
    df.columns = ['geometry','name','vicinity','types']
    return df