In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
hosp_data = pd.read_csv("./datasets/hospitals.csv")

In [11]:
hosp_data[hosp_data["name"].str.contains("Urgent")]

,geometry,name,vicinity,types,lat,lng
43,"{'location': {'lat': 29.9461358, 'lng': -90.11...","In & Out Urgent Care - Uptown New Orleans, La","6225 South Claiborne Avenue, New Orleans","['doctor', 'hospital', 'health', 'point_of_int...",29.946136,-90.113232

In [28]:
hosp_data.head()

,geometry,name,vicinity,types,lat,lng,distance
0,"{'location': {'lat': 29.9177486, 'lng': -90.12...",Children's Hospital New Orleans,"200 Henry Clay Avenue, New Orleans","['hospital', 'point_of_interest', 'establishme...",29.917749,-90.128072,179.128091
1,"{'location': {'lat': 29.8917868, 'lng': -90.09...",West Jefferson Medical Center,"1101 Medical Center Boulevard, Marrero","['hospital', 'point_of_interest', 'establishme...",29.891787,-90.095509,179.095542
2,"{'location': {'lat': 29.9556817, 'lng': -90.07...",Tulane Medical Center,"1415 Tulane Avenue, New Orleans","['hospital', 'point_of_interest', 'establishme...",29.955682,-90.075830,179.075836
3,"{'location': {'lat': 29.9266229, 'lng': -90.09...",Internal Medicine Specialist Inc.,"3525 Prytania Street, New Orleans","['hospital', 'health', 'point_of_interest', 'e...",29.926623,-90.092867,179.092882
4,"{'location': {'lat': 29.9177892, 'lng': -90.12...",CHNOLA,"5720, 200 Henry Clay Avenue, New Orleans","['hospital', 'point_of_interest', 'establishme...",29.917789,-90.127685,179.127704

In [56]:
type(hosp_data.shape[0])

int

In [37]:
# Haversine formula example in Python
# Author: Wayne Dyck

import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 3959 # miles
    #radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [128]:
def life_lines_down(lat, long, radius, life_line_df):
    #origin = epicenter of storm
    
    #creating a new dataframe to manipulate
    life_line = life_line_df
    
    #this will be the list of distances from the origin
    distances = []
    
    #runs through each life-line and finds the distance from the origin
    for i in life_line.index:
         distances.append(distance((lat,long),(life_line.loc[i,"lat"],life_line.loc[i,"lng"])))
    
    #adds the distance column to the life-line dataframe
    life_line["distance"] = distances
    
    #creating a new dataframe of the affected area
    affected_area_df = life_line[life_line["distance"] <= radius].sort_values("distance")
    
    #prompt user to choose the percent of lifelines affected in this zone
    percent_affected = input ("What percent of buildings do you think have been affected?")
    
    #calculate the total life lines in the zone
    total_life_lines = affected_area_df.shape[0]
    
    #calculate the number of life lifes affected given the user input; takes the floor of affected
    number_affected = math.floor(total_life_lines*float(percent_affected))
    
    #return a dataframe of the lifelines affected
    life_lines_affected_df = affected_area_df.head(int(number_affected))
    
    #return a dataframe of the lifelines not affected
    life_lines_not_affected_df = affected_area_df.drop(life_lines_affected_df.index)
    
    print (f"The places affected by the storm are: {life_lines_affected_df['name'].values}")
    print ("")
    print (f"The next closest places not affected by the storm are: {life_lines_not_affected_df['name'].values}")

In [129]:
life_lines_down(29.89, -90.08, 2, hosp_data);

What percent of buildings do you think have been affected?.5
The places affected by the storm are: ['Fresenius Medical Care at Louisiana Specialty, Hospital'
 'West Jefferson Urology Specialists' 'Heart Clinic Louisiana']

The next closest places not affected by the storm are: ['West Jefferson Medical Center' 'Children’s Pediatrics Westbank Marrero'
 'Jefferson Parish Human Services Authority, West Jefferson Health Center']

In [108]:
df.shape

(4, 7)

In [92]:
math.floor(7.8)

7